<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="logfile">./logs</Property>
	</Properties>
	
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} - %m%n" />
		</Console>
		
		<RollingFile name="File" fileName="${logfile}/automation.log"
                     filePattern="${logfile}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} - %level - %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
	</Appenders>
	
	<Loggers>
		<Root level="Debug">     <!-- All < Trace <Debug <Info< Warn < Error< Fatal-->
			<!--<AppenderRef ref="Console" level="WARN" /> -->
			<AppenderRef ref="File" />
		</Root>
		
	</Loggers>
</Configuration>